---
layout: default
section_id: accompagnement
lang-ref: accompagnement
permalink: /en/coaching-provision.html

members:
  - name: Mathilde Bras
    position: project head
    desc: Mathilde has been supervising the program since March 2017 and is working to create a link between the challenges and the EIG community and Etalab's activities.
    avatar: /img/communaute/mathilde_bras.jpg
    socials:
      - icon_class: fa fa-twitter
        url: https://twitter.com/Mathilde_Bras
      - icon_class: fa fa-linkedin
        url: https://www.linkedin.com/in/mathildebras
  - name: Soizic Pénicaud
    position: project manager
    desc: Soizic is responsible for the coaching of EIGs and mentors and brings together people with different skills and experiences.
    avatar: /img/communaute/soizic_penicaud.jpg
    socials:
      - icon_class: fa fa-twitter
        url: https://twitter.com/soizicpenicaud
      - icon_class: fa fa-linkedin
        url: https://www.linkedin.com/in/soizic-p%C3%A9nicaud-33216bb3/
  - name: Sophie Miljkovic
    position: communication manager
    desc: Sophie is responsible for communication of the program with the aim of making it known and appreciated as widely as possible.
    avatar: /img/communaute/sophie-milkovitch.png
    socials:
      - icon_class: fa fa-twitter
        url: https://twitter.com/MiljkovicSophie
      - icon_class: fa fa-linkedin
        url: https://www.linkedin.com/in/sophie-miljkovic-319516a5/

---

<div class='full'>
    <div class='row'>
	<div class='large-12 columns'>
	    <h2>Accompanying the State's digital transformation: the EIG method</h2>
	    <div class='one spacing'></div>

		<p><strong>The remit of the program coordination team: create and back a promotion of digital professionals and public servants to complete some fifteen challenges in as many different administrations.</strong></p>

		<p>For this purpose, the team designs a tailor-made coaching program. This is intended for both EIGs and mentors and is designed to assist them at each stage in the challenge: scoping of the challenge, definition of the roadmap, putting into production, enhancing the tools produced, sustainability of the challenge...</p>

	</div>
    </div>

    <div class='row'>
	<div class='large-12 columns'>
	    <h3>Coaching takes various forms:</h3>
	</div>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Des entrepreneurs pendant leur séminaire" src="/img/accompagnement-bimensuel.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Induction week or "EIG bootcamp"</h3>
	<div class='spacing'></div>
	<p>A few weeks after the arrival of EIGs in their administrations, the induction week allows them to get to know each other, share their initial steps in the administration and discover the coaching program.</p>
	<div class='spacing'></div>
	<a class='button large' href='/blog/2018/02/27/bootcamp-comment-souder-un-collectif-de-talents.html'>Discovering an EIG bootcamp</a>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Présentation des sujets open source / open data par Antoine Augusti" src="/img/blog/presentation-open-antoine-augusti.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Plenary sessions with EIGs</h3>
	<div class='spacing'></div>
	<p>One day per month, the promotion is held in a neutral location to explore a particular topic (legal framework, design, communication, etc.). Formats vary: stand-ups, presentations, workshops, peer-to-peer learning, etc.</p>
	<div class='spacing'></div>
	<a class='button large' href='/blog/2019/04/12/accompagnement-open-data-open-source.html'>Discovering an EIG session</a>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Plénière avec les mentors du programme" src="/img/blog/session-mentors-perennisation-2019.jpg">
    </div>
    <div class='medium-9 columns'>
	<h3>Plenary sessions with mentors</h3>
	<div class='spacing'></div>
	<p>For half a day a month, mentors meet in a neutral location to share their successes, their obstacles and their ideas for putting the challenges they back on a permanent footing.</p>
	<div class='spacing'></div>
	<a class='button large' href='/blog/2019/05/20/session-perennisation-defis-eig-3.html'>Discovering a mentor session</a>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Les designers du programme échangent pendant un séminaire" src="/img/blog/seminaire-2019/designers.jpg">
    </div>
    <div class='medium-9 columns'>
	<h3>Seminars "outside the walls" with EIGs</h3>
	<div class='spacing'></div>
	<p></p>
	<div class='spacing'></div>
	<a class='button large' href='/blog/2019/05/27/retour-seminaire-mai-2019.html'>Discovering an outside the walls session</a>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Une équipe (deux mentors et deux EIG) présentent leur résultats lors d'une session d'accompagnement" src="/img/accompagnement-mensuel.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Coaching sessions with EIGs and their mentors</h3>
	<div class='spacing'></div>
	<p>They allow teams to take stock of the progress of their challenges and to agree on their roadmaps.</p>
	<div class='spacing'></div>
	<a class='button large' href='/blog/2018/05/24/atelier-construction-plan-actions-avec-les-dsi.html'>Discovering an EIG and mentors session</a>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Une mentor discute avec un entrepreneur d'intérêt général" src="/img/accompagnement-mediation.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Mediation between EIGs and their mentors</h3>
	<div class='spacing'></div>
	<p>This ensures that aims are understood and shared by everyone. It also allows us to step back from the challenge and steer it in promising directions.</p>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Présentation de l'association Latitudes devant les EIG" src="/img/accompagnement-relation.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Networking</h3>
	<div class='spacing'></div>
	<p>The team relies on synergies between EIGs and/or mentors and relevant actors on their challenges.</p>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Illustration des guides EIG" src="/img/realisations/2018/eig-guides.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Easy to understand mini-guides</h3>
	<div class='spacing'></div>
	<p>The team establishes a knowledge base that is updated as the program develops. Two mini-guides have been published in PDF format, one on the <a href="/docs/mini-guide-reussite-eig.pdf">success of an EIG</a>challenge and the other on <a href="/docs/mini-guide-logiciel-libre.pdf">opening up the source code of the software produced</a>.</p>
    </div>
</div>


<div class='full'>
    <div class='row'>
	<div class='large-12 columns'>
	    <h2>A dedicated team</h2>
	    <div class='one spacing'></div>

		<p><strong>Within Etalab, a dedicated team sets up the promotion and supports it for 10 months. </strong> This multidisciplinary team can back EIGs and mentors in various aspects of their challenges: strategy, technical, project management, assessment, communication, etc.</p>

	</div>
    </div>
    <div class='one spacing'></div>
</div>


<div class='full no-padding'>
  <div class='row'>
      {% for member in page.members %}
      <div class='small-6 medium-4 columns'>
          <div class='mod modTeamMember style-2'>
              <div class='member'>
		  <img class="avatar" alt="Photo de profil" src="{{site.url}}/{{member.avatar}}" />
		  <div class='overlay'>
		      <ul class='socials'>
			  {% for social in member.socials %}
			  <li>
			      <a href='{{social.url}}'>
				  <i class='{{social.icon_class}}'></i>
			      </a>
			  </li>
			  {% endfor %}
		      </ul>
		  </div>
              </div>
              <h3>{{member.name}}</h3>
              <p class='position'>{{member.position}}</p>
              <p>{{member.desc}}</p>
              <!--<div class='one spacing'></div>-->
          </div>
      </div>
      {% endfor %}
  </div>
</div>


<div class='full'>
    <div class='row'>
	<div class='large-12 columns'>
	    <h2>The Ecosystem</h2>
	    <div class='one spacing'></div>

	    <p><strong>The EIG program is the community's gamble: in working closely with an entire ecosystem, it can offer comprehensive backing to EIGs and their mentors.</strong></p>

	    <p><a href="https://www.etalab.gouv.fr/qui-sommes-nous">Etalab</a> pprovides both legal and technical support and gives the EIG-mentor tandems the benefit of its knowledge of administrative networks. For example, EIGs benefit from preferential interactions with the members of the <a href="https://www.data.gouv.fr/fr/">data.gouv.fr</a> team who coach them on technical issues.</p>

	    <p><a href="https://beta.gouv.fr/">Beta.gouv</a> is a mirror device of the EIG program which allows EIG-mentors tandems to benefit from its experience in backing digital projects in administrations. The synergies are so strong that several EIG challenges are part of state-owned start-ups: <a href="https://entrepreneur-interet-general.etalab.gouv.fr/defis/2018/signauxfaibles.html">Tell-tell signs</a>, <a href="https://entrepreneur-interet-general.etalab.gouv.fr/defis/2019/explocode.html">Explocode</a> and <a href="https://entrepreneur-interet-general.etalab.gouv.fr/defis/2019/leximpact.html">LexImpact</a>.</p>

	    <p><i>EIGs strengthen their group working in contact with other public interest digital players: public players such as the CNIL, working groups and associations such as <a href="https://dataforgood.fr/">DataForGood</a> or <a href="http://www.latitudes.cc/"> Latitudes</a>, etc.</i></p>

	</div>
    </div>
    <div class='two spacing'></div>
</div>
