.sass-cache
_site
_old
.jekyll-metadata
venv
tests/__pycache__/
.DS_Store

docs/DIG_livrables/PlaniPref_191213_Présentation_vision_logicielUnifie.png

docs/DIG_livrables/PlaniPref_191213_Présentation_vision_logicielUnifie.png

docs/DIG_livrables/Sequoia_résultats-recherche-utilisateur.pdf

docs/DIG_livrables/PlaniPref_191213_Présentation_vision_logicielUnifie.png

docs/DIG_livrables/PlaniPref_191213_Présentation_vision_logicielUnifie.png

docs/DIG_livrables/Sequoia_résultats-recherche-utilisateur.pdf

img/realisations/2019/Sequoia_résultat-recherche-utilisateur.png

img/realisations/2019/Sequoia_résultat-recherche-utilisateur.png
