# Site settings
title: Entrepreneurs d'intérêt général
email: entrepreneur-interet-general@data.gouv.fr
description: > # this means to ignore newlines until "baseurl:"
  Professionnels du développement, de la datascience,
  du design et de l'agile, passionnés du numérique et
  d'action publique.
# The subpath of your site, e.g. /blog/
# The base hostname & protocol for your site:
baseurl: ""
url: "https://entrepreneur-interet-general.etalab.gouv.fr"
twitter_username: etalab
github_username:  entrepreneur-interet-general
list_url: https://lists.eig-forever.org/subscribe/entrepreneur-interet-general@mail.etalab.studio

plugins: [jekyll-paginate]
gems: [jekyll-paginate]

include: [_redirects]

# Build settings
markdown: kramdown
paginate: 4
paginate_path: "blog/page:num"

future: true

defaults:
  -
    scope:
      path: ""
      type: "defis"
    values:
      section_id: defis
  -
    scope:
      path: ""
      type: "communaute"
    values:
      section_id: communaute
  -
    scope:
      path: ""
      type: "posts"
    values:
      section_id: blog

collections:
  defis:
    output: true
    permalink: /defis/:year/:title.html
  communaute:
    output: true
    permalink: /communaute/:year/:title.html

# Permalink fallback
permalink: /blog/:year/:month/:day/:title.html
