---
layout: default
section_id: accompagnement

members:
  - name: Mathilde Bras
    position: cheffe de projet
    desc: Mathilde pilote le programme depuis mars 2017 et s’attache à créer du lien entre les défis et la communauté EIG et les activités d’Etalab.
    avatar: /img/communaute/mathilde_bras.jpg
    socials:
      - icon_class: fa fa-twitter
        url: https://twitter.com/Mathilde_Bras
      - icon_class: fa fa-linkedin
        url: https://www.linkedin.com/in/mathildebras
  - name: Soizic Pénicaud
    position: chargée de projet
    desc: Soizic s’occupe de l’accompagnement des EIG et des mentors et fait dialoguer des personnes aux compétences et expériences différentes.
    avatar: /img/communaute/soizic_penicaud.jpg
    socials:
      - icon_class: fa fa-twitter
        url: https://twitter.com/soizicpenicaud
      - icon_class: fa fa-linkedin
        url: https://www.linkedin.com/in/soizic-p%C3%A9nicaud-33216bb3/
  - name: Sophie Miljkovic
    position: respo communication
    desc: Sophie s'occupe de la communication du programme avec pour objectif de le faire connaître et apprécier le plus largement possible.
    avatar: /img/communaute/sophie-milkovitch.png
    socials:
      - icon_class: fa fa-twitter
        url: https://twitter.com/MiljkovicSophie
      - icon_class: fa fa-linkedin
        url: https://www.linkedin.com/in/sophie-miljkovic-319516a5/

---

<div class='full'>
    <div class='row'>
	<div class='large-12 columns'>
	    <h2>Accompagner la transformation numérique de l'état : la méthode EIG</h2>
	    <div class='one spacing'></div>

		<p><strong>La mission de l'équipe de coordination du programme : créer et accompagner une promotion de professionnels du numérique et d'agents publics pour mener à bien une quinzaine de défis dans autant d'administrations différentes.</strong></p>

		<p>Pour cela, l'équipe conçoit un programme d'accompagnement sur-mesure. Celui-ci est destiné à la fois aux EIG et aux mentors et vise à les aider à chaque étape du défi : cadrage du défi, définition de la feuille de route, mise en production, valorisation des outils produits, pérennisation du défi...</p>

	</div>
    </div>

    <div class='row'>
	<div class='large-12 columns'>
	    <h3>L'accompagnement prend différentes formes :</h3>
	</div>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Des entrepreneurs pendant leur séminaire" src="/img/accompagnement-bimensuel.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Semaine d'intégration ou « bootcamp EIG »</h3>
	<div class='spacing'></div>
	<p>Quelques semaines après l'arrivée des EIG dans leurs administrations, la semaine d'intégration leur permet de faire connaissance entre eux, partager leurs premiers pas dans l'administration et découvrir le programme d'accompagnement.</p>
	<div class='spacing'></div>
	<a class='button large' href='/blog/2018/02/27/bootcamp-comment-souder-un-collectif-de-talents.html'>Découvrir un bootcamp EIG</a>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Présentation des sujets open source / open data par Antoine Augusti" src="/img/blog/presentation-open-antoine-augusti.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Sessions plénières avec les EIG</h3>
	<div class='spacing'></div>
	<p>A raison d'une journée par mois, la promotion se retrouve dans un tiers-lieu pour creuser une thématique particulière (cadre juridique, design, communication...). Les formats varient : stand-ups, présentations, ateliers, apprentissages de pair à pair...</p>
	<div class='spacing'></div>
	<a class='button large' href='/blog/2019/04/12/accompagnement-open-data-open-source.html'>Découvrir une session EIG</a>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Plénière avec les mentors du programme" src="/img/blog/session-mentors-perennisation-2019.jpg">
    </div>
    <div class='medium-9 columns'>
	<h3>Sessions plénières avec les mentors</h3>
	<div class='spacing'></div>
	<p>A raison d'une demie-journée par mois, les mentors se retrouvent dans un tiers-lieu pour faire remonter leurs réussites, leurs points bloquants et leurs idées pour pérenniser les défis qu'ils portent.</p>
	<div class='spacing'></div>
	<a class='button large' href='/blog/2019/05/20/session-perennisation-defis-eig-3.html'>Découvrir une session mentors</a>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Les designers du programme échangent ensemble pendant leur séminaire" src="/img/blog/seminaire-2019/designers.jpg">
    </div>
    <div class='medium-9 columns'>
	<h3>Séminaires « hors-les-murs » avec les EIG</h3>
	<div class='spacing'></div>
	<p></p>
	<div class='spacing'></div>
	<a class='button large' href='/blog/2019/05/27/retour-seminaire-mai-2019.html'>Découvrir une session hors-les-murs</a>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Une équipe (deux mentors et leur deux EIG) présentent leur résultats lors d'une session d'accompagnement" src="/img/accompagnement-mensuel.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Sessions d’accompagnement avec les EIG et leurs mentors</h3>
	<div class='spacing'></div>
	<p>Elles permettent aux équipes de faire le point sur l’avancement de leurs défis et de se mettre d’accord sur leurs feuilles de route.</p>
	<div class='spacing'></div>
	<a class='button large' href='/blog/2018/05/24/atelier-construction-plan-actions-avec-les-dsi.html'>Découvrir une session EIG & mentors</a>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Un mentor discute avec un entrepreneur d'intérêt général" src="/img/accompagnement-mediation.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Médiation entre les EIG et leurs mentors</h3>
	<div class='spacing'></div>
	<p>Elle permet de s’assurer que les objectifs sont compris et partagés par tout le monde. Elle permet également de prendre du recul par rapport au défi et de l’orienter dans des directions prometteuses.</p>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Présentation d'une association (Latitudes) de la Tech for Good devant les EIG" src="/img/accompagnement-relation.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Mise en relation</h3>
	<div class='spacing'></div>
	<p>L'équipe mise sur les synergies entre les EIG et/ou les mentors et des acteurs pertinents sur leurs défis.</p>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="Capture d'écran de la documentation réalisée par les EIG Link" src="/img/eig-guides.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Des mini-guides faciles à prendre en main</h3>
	<div class='spacing'></div>
	<p>L'équipe constitue une base de connaissance évoluant au fur
	et à mesure que le programme se déroule.  Deux mini-guides ont
	été publiés en PDF, l'un
	sur <a href="/docs/mini-guide-reussite-eig.pdf">la réussite
	d'un défi EIG</a>, l'autre
	sur <a href="/docs/mini-guide-logiciel-libre.pdf">l'ouverture
	du code source des logiciels produits</a>.</p>
    </div>
</div>


<div class='full'>
    <div class='row'>
	<div class='large-12 columns'>
	    <h2>Une équipe dédiée</h2>
	    <div class='one spacing'></div>

		<p><strong>Au sein d’Etalab, une équipe dédiée monte la promotion et de l’accompagne pendant 10 mois.</strong> Pluridisciplinaire, cette équipe peut appuyer EIG et mentors sur des aspects très variés de leurs défis : stratégie, technique, gestion de projet, évaluation, communication...</p>

	</div>
    </div>
    <div class='one spacing'></div>
</div>


<div class='full no-padding'>
  <div class='row'>
      {% for member in page.members %}
      <div class='small-6 medium-4 columns'>
          <div class='mod modTeamMember style-2'>
              <div class='member'>
		  <img class="avatar" alt="Photo de profil" src="{{site.url}}/{{member.avatar}}" />
		  <div class='overlay'>
		      <ul class='socials'>
			  {% for social in member.socials %}
			  <li>
			      <a href='{{social.url}}'>
				  <i class='{{social.icon_class}}'></i>
			      </a>
			  </li>
			  {% endfor %}
		      </ul>
		  </div>
              </div>
              <h3>{{member.name}}</h3>
              <p class='position'>{{member.position}}</p>
              <p>{{member.desc}}</p>
              <!--<div class='one spacing'></div>-->
          </div>
      </div>
      {% endfor %}
  </div>
</div>


<div class='full'>
    <div class='row'>
	<div class='large-12 columns'>
	    <h2>L'écosystème</h2>
	    <div class='one spacing'></div>

	    <p><strong>Le programme EIG fait le pari de la communauté : c’est en travaillant en étroite collaboration avec tout un écosystème qu’il peut proposer un accompagnement complet aux EIG et à leurs mentors.</strong></p>

	    <p><a href="https://www.etalab.gouv.fr/qui-sommes-nous">Etalab</a> propose un accompagnement à la fois juridique et technique et fait bénéficier les tandems EIG-mentors de sa connaissance des réseaux administratifs. Par exemple, les EIG profitent d'interactions privilégiées avec les membres de l'équipe <a href="https://www.data.gouv.fr/fr/">data.gouv.fr</a> qui les accompagnent sur des questions techniques.</p>

	    <p><a href="https://beta.gouv.fr/">Beta.gouv</a> est un dispositif miroir du programme EIG qui fait bénéficier les tandems EIG-mentors de son expérience en accompagnement de projets numériques au sein de l'administration. Les synergies sont tellement fortes que plusieurs défis EIG s'inscrivent dans des start-ups d'État : <a href="https://entrepreneur-interet-general.etalab.gouv.fr/defis/2018/signauxfaibles.html">Signaux Faibles</a>, <a href="https://entrepreneur-interet-general.etalab.gouv.fr/defis/2019/explocode.html">Explocode</a>, <a href="https://entrepreneur-interet-general.etalab.gouv.fr/defis/2019/leximpact.html">LexImpact</a>.</p>

	    <p><i>Les EIG renforcent leur collectif au contact d’autres acteurs du numérique d’intérêt général : des acteurs publics comme la CNIL, des collectifs et des associations comme <a href="https://dataforgood.fr/">DataForGood</a> ou <a href="http://www.latitudes.cc/"> Latitudes</a>...</i></p>

	</div>
    </div>
    <div class='two spacing'></div>
</div>
