-----
layout: default
section_id: accompagnement

members:
  - name: Mathilde Bras
    position: cheffe de projet
    desc: Mathilde pilote le programme depuis mars 2017 et s’attache à créer du lien entre les défis et la communauté EIG et les activités d’Etalab.
    avatar: /img/mathilde-250.jpg
    socials:
      - icon_class: fa fa-twitter
        url: https://twitter.com/Mathilde_Bras
      - icon_class: fa fa-linkedin
        url: https://www.linkedin.com/in/mathildebras
  - name: Soizic Pénicaud
    position: chargée de projet
    desc: Soizic s’occupe de l’accompagnement des EIG et des mentors et fait dialoguer des personnes aux compétences et expériences différentes. 
    avatar: /img/Soizic-250.jpg
    socials:
      - icon_class: fa fa-twitter
        url: https://twitter.com/soizicpenicaud
      - icon_class: fa fa-linkedin
        url: https://www.linkedin.com/in/soizic-p%C3%A9nicaud-33216bb3/
  - name: Sophie Miljkovic
    position: respo communication
    desc: Sophie s'occupe de la communication du programme avec pour objectif de le faire connaître et apprécier le plus largement possible. 
    avatar: images/@stock/member-3.jpg
    socials:
      - icon_class: fa fa-twitter
        url: https://twitter.com/MiljkovicSophie
      - icon_class: fa fa-linkedin
        url: https://www.linkedin.com/in/sophie-miljkovic-319516a5/
  - name: Bastien Guerry
    position: EIG Link & développeur
    desc:
      Programmeur indépendant, hacktiviste du libre et EIG récidiviste, Bastien assure un soutien technique et méthodologique au sein du programme.
    avatar: /img/bastien-250.jpg
    socials:
      - icon_class: fa fa-twitter
        url: https://twitter.com/bzg2
      - icon_class: fa fa-dribble
        url: https://bzg.fr
---

<div class='full'>
    <div class='row'>
	<!-- <a href="/img/document.pdf" target="new">Le texte de mon lien</a> -->
	<div class='large-12 columns'>
	    <h2>Accompagner la transformation numérique de l'état : la méthode EIG</h2>
	    <div class='one spacing'></div>
	    
	    <p><strong>Pour faire du numérique un levier de transformation du service public, le programme s’appuie sur une alliance inédite :</strong></p>
	    
	    <p>Les entrepreneurs d’intérêt général, experts dans différents domaines du numérique, extérieurs à l’administration, s'associent à leurs mentors, agents publics qui ont l'expertise métier et souhaitent s'emparer du potentiel que représente le numérique pour changer leurs modes d'action.</p>
	    
	    <p><strong>La mission du programme est d'accompagner ces deux types d'acteurs aux cultures et expertises différentes pour faire de leur collaboration un succès.</strong></p>
		
	</div>
    </div>
</div>

<div class='full'>
    <div class='row'>
	<div class='large-12 columns'>
	    <h2>Une équipe dédiée</h2>
	    <div class='one spacing'></div>
	    <h3>Au sein d’Etalab, une équipe dédiée s’occupe de monter la promotion et de l’accompagner pendant 10 mois.</h3>	
	</div>
    </div>
    <div class='one spacing'></div>
</div>


<div class='full no-padding'>
  <div class='row'>
      {% for member in page.members %}
      <div class='small-6 medium-3 large-3 columns'>
          <div class='mod modTeamMember style-2'>
              <div class='member'>
		  <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
		  <div class='overlay'>
		      <ul class='socials'>
			  {% for social in member.socials %}
			  <li>
			      <a href='{{social.url}}'>
				  <i class='{{social.icon_class}}'></i>
			      </a>
			  </li>
			  {% endfor %}
		      </ul>
		  </div>
              </div>
              <h3>{{member.name}}</h3>
              <p class='position'>{{member.position}}</p>
              <p>{{member.desc}}</p>
              <!--<div class='one spacing'></div>-->
          </div>
      </div>
      {% endfor %}
  </div>
</div>

<div class='full'>
    <div class='row'>
	<div class='large-12 columns'>
	    <h3>L'accompagnement prend différentes formes :</h3>	
	</div>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="" src="/img/accompagnement-bimensuel.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Sessions d’accompagnement bimensuelles avec les EIG seuls</h3>
	<div class='spacing'></div>
	<p>Elles permettent aux entrepreneurs de se retrouver entre eux et d’approfondir à chaque fois des sujets spécifiques tels que les revues de codes, le design de la solution qu’ils développent, les licences libres sous lesquelles ils peuvent publier leurs travaux…</p>
	<div class='spacing'></div>
	<a class='button small' href='https://entrepreneur-interet-general.etalab.gouv.fr/posts/2018/02/27/bootcamp-comment-souder-un-collectif-de-talents/'>L'exemple du bootcamp d'intégration</a>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="" src="/img/accompagnement-mensuel.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Sessions d’accompagnement mensuelles avec les EIG et leurs mentors</h3>
	<div class='spacing'></div>
	<p>Ellespermettent aux équipes de faire le point sur l’avancement de leurs défis et de se mettre d’accord sur leurs feuilles de route.</p>
	<div class='spacing'></div>
	<a class='button small' href='https://entrepreneur-interet-general.etalab.gouv.fr/posts/2018/05/24/atelier-construction-plan-actions-avec-les-dsi/'>L'exemple de la session pérennisation</a>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="" src="/img/accompagnement-mentor.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Sessions avec les mentors seuls</h3>
	<div class='spacing'></div>
	<p>Elles permettent de se retrouver entre eux et de faire remonter leurs réussites, leurs points bloquants et leurs idées.</p>
	<div class='spacing'></div>
	<a class='button small' href='https://entrepreneur-interet-general.etalab.gouv.fr/posts/2018/07/27/retour-experience-mentors-promotion-2/'>L'exemple de la session de mi-parcours</a>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="" src="/img/accompagnement-mediation.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Médiation entre les EIG et leurs mentors</h3>
	<div class='spacing'></div>
	<p>Elle permet de s’assurer que les objectifs sont compris et partagés par tout le monde. Elle permet également de prendre du recul par rapport au défi et de l’orienter dans des directions prometteuses.</p>
    </div>
</div>

<div class='two spacing'></div>
<div class='row'>
    <div class='medium-3 columns'>
	<img class="fadeinleft" width="400" height="300" alt="" src="/img/accompagnement-relation.png">
    </div>
    <div class='medium-9 columns'>
	<h3>Mise en relation</h3>
	<div class='spacing'></div>
	<p>L'équipe mise sur les synergies entre les EIG et/ou les mentors et des acteurs pertinents sur leurs défis.</p>
    </div>
</div>

<div class='full'>
    <div class='row'>
	<div class='large-12 columns'>
	    <h2>L'écosystème</h2>
	    <div class='one spacing'></div>
	    
	    <p><strong>Le programme EIG fait le pari de la communauté : c’est en travaillant en étroite collaboration avec tout un écosystème qu’il peut proposer un accompagnement complet aux EIG et leurs mentors.</strong></p>
	    
	    <p><a href="https://www.etalab.gouv.fr/qui-sommes-nous">Etalab</a> propose un accompagnement à la fois juridique et technique et fait bénéficier les tandems EIG-mentors de sa connaissance des réseaux administratifs. Par exemple, les EIG profitent d'interactions privilégiées avec les membres de l'équipe <a href="https://www.data.gouv.fr/fr/">data.gouv.fr</a> qui les accompagnent sur des questions techniques.</p>
	    
	    <p><a href="https://beta.gouv.fr/">Beta.gouv</a> est un dispositif-miroir du programme EIG qui fait bénéficier les tandems EIG-mentors de son expérience en accompagnement de projets numériques au sein des administrations. Les synergies sont tellement fortes que Signaux Faibles, un défi EIG 2018, est issu d'une startup d'Etat accompagnée par betagouv.</p>
	    
	    <p><i>Les EIG renforcent leur collectif au contact d’autres acteurs du numérique pour l’intérêt général (acteurs publics comme la CNIL, collectifs et associations comme <a href="https://dataforgood.fr/">DataForGood</a> ou <a href="http://www.latitudes.cc/"> Latitudes</a>...)</i></p>
	    
	</div>
    </div>
    <div class='two spacing'></div>
</div>
