---
layout: default
section_id: communaute
---

<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>Tout</a>
          </li>
          <li>
            <a data-cat='2017' href='#'>2017</a>
          </li>
          <li>
            <a data-cat='2018' href='#'>2018</a>
          </li>
          <li>
            <a data-cat='eig' href='#'>EIG</a>
          </li>
          <li>
            <a data-cat='mentor' href='#'>Mentor</a>
          </li>
          <li>
            <a data-cat='datascientist' href='#'>Datascientist</a>
          </li>
          <li>
            <a data-cat='webdev' href='#'>Développeur Web</a>
          </li>
          <li>
            <a data-cat='designer' href='#'>Designer</a>
          </li>
        </ul>
      </div>
      <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
        {% for work in site.data.personnes %}
        <li class='
	    {% for single-class in work.class %}
	    {{single-class}}
	    {% endfor %}
	    '>
            <a style='border-radius:50%;' href='{{work.link_to}}'>
              <img alt="" src="{{site.url}}/{{work.image}}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{work.title}}</h3>
                  <p>{{work.desc}}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
