---
layout: default
section_id: defis
---

<div class='full'>
  <div class='row'>
    <div class="large-12 columns">
      <p>
        Cette page répertorie tous les défis accompagnés par le programme EIG - en cours ou passés.

        Naviguez dans les défis en utilisant les filtres de promotions - "EIG 1", "EIG 2", "EIG 3" et "DIG" - ou de spécialités - "data" (data science, géomatique), "web" (développement) et "design" (design de services, design UX & UI) !
      </p>
    </div>
    <div class='mod modGallery mt-2'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'><a data-cat='all' href='#'>Tout</a></li>
          <li><a data-cat='eig-1' href='#'>EIG 1</a></li>
          <li><a data-cat='eig-2' href='#'>EIG 2</a></li>
          <li><a data-cat='eig-3' href='#'>EIG 3</a></li>
          <li><a data-cat='dig' href='#'>DIG</a></li>
          <li><a data-cat='data' href='#'>Data</a></li>
          <li><a data-cat='web' href='#'>Web</a></li>
          <li><a data-cat='design' href='#'>Design</a></li>
        </ul>
      </div>
      <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
        {% for defi_hash in site.data.defis %}
        {% assign defi = defi_hash[1] %}
          {% for promo_hash in site.data.promos %}
            {% assign promo = promo_hash[1] %}
            {% if defi.title == promo.defi %}
              <li class="defis {{ promo.class }}">
                <div class="promotion_container">
                  <img alt="{{ promo.title }}" class="image" src="{{ promo.image }}">
                  <h2 class="promotion_title">{{ promo.title }} →</h2>
                </div>
              </li>
            {% endif %}
          {% endfor %}
          <li class='defis {{defi.class}} eig-{{defi.promotion}}'>
            <a href='{{defi.link_to}}'>
              <img alt="{{defi.title}}" class="image" src="{{defi.image}}" />
              <h2 class="title">{{ defi.title }}</h2>
              <p class="description">{{ defi.description }}</p>
              <p class="skills">{{ defi.skills }}</p>
              <div class='overlay defis_overlay-{{ defi.colorback }}'>
                <div class='thumb-info'>
                  <h3 class="mt-0">{{ defi.title }}</h3>
                  <p class="thumb_description">{{ defi.description }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
</div>



