---
layout: default
section_id: presentation
skills:
- title: Web Design
  percent: 84
- title: Web Development
  percent: 95
- title: Site Management
  percent: 70
- title: Branding
  percent: 61
- title: Branding
  percent: 61
- title: Branding
  percent: 61
- title: Branding
  percent: 61
- title: Branding
  percent: 61
- title: Branding
  percent: 61

milestones:
- from: 0
  to: 69
  title: Projects Completed
- from: 0
  to: 726
  title: Cups of coffee offered
- from: 0
  to: 59
  title: Happy clients
- from: 0
  to: 21
  title: Articles Published

testimonials:
- text: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
  author: David White
  position: Designer at Huglab
  avatar: images/@stock/author-avatar-1.png
- text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
  author: David White
  position: Designer at Huglab
  avatar: images/@stock/author-avatar-2.png
- text: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
  author: David White
  position: Designer at Huglab
  avatar: images/@stock/author-avatar-3.png

clients:
- images/@stock/client-1.png
- images/@stock/client-2.png
- images/@stock/client-3.png
- images/@stock/client-4.png
- images/@stock/client-5.png
- images/@stock/client-6.png

members:
  - name: Mark Wayne
    position: founder
    desc:
      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit.
    avatar: images/@stock/member-1.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
  - name: Kate Holms
    position: Creative Director
    desc:
      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit.
    avatar: images/@stock/member-2.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-dribbble
        url: http://dribbble.com
  - name: Tom Hason
    position: Designer
    desc:
      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit.
    avatar: images/@stock/member-3.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-tumblr
        url: http://tumblr.com
  - name: Lily Whrem
    position: Developer
    desc:
      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit.
    avatar: images/@stock/member-4.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
---

<div class='full'>
    <div class='row'>
	<div class='large-12 columns'>
      	    <h2>Les étapes du programme Entrepreneur·e d'Intérêt Général</h2>
      	    <div>
		<img alt="La frise du programme EIG indique les 4 étapes du programme : la sélection des défis, la sélection des candidats, l'accompagnement des défis et les itérations sur le programme" src="/img/Frise-programme.png"/>
	    </div>
	</div>
	
	<div class='large-12 columns'>
	    
	    <div class='two spacing'></div>
	    
	    <h2>À propos</h2>

	    <p>La transformation numérique est un fait : de nouvelles
		technologies, de nouveaux usages, de nouvelles
		attentes… et une multitude de nouvelles possibilités
		ont fait leur apparition en à peine 30 ans. Conscient
		du potentiel que représente le numérique, l’État a
		décidé d’en faire un levier pour transformer le
		service public.</p>
	    
	    <p>C’est dans ce contexte qu’est créé, en 2016, le
		programme Entrepreneur·e d’Intérêt Général.  Porté par
		la mission Etalab, il part du constat que les
		administrations veulent mener des projets ambitieux de
		transformation numérique mais n’ont pas de compétences
		pointues en interne pour les réaliser.</p>
	    
	    <p>L’objectif du programme ? Intégrer pour 10 mois des
		profils d’exception dans les administrations pour
		relever des défis numériques grâce aux données
		publiques.</p>
	    
	    <p>Comment attirer les meilleurs talents du numérique dans
		les administrations et accélérer ainsi leurs projets
		de transformation numérique ? <strong>Voici notre
		algorithme : M(mentor) + EIG (Entrepreneur d’intérêt
		général) = défi relevé</strong></p>
	    
	    <p>Un défi est un projet ciblé sur des problématiques
		numériques et dimensionné pour être réalisé en 10 mois
		par 2 ou 3 EIG. Porté au sein d’une administration par
		des mentors, il fait l’objet d’un appel à candidatures
		pour recruter les personnes aux compétences numériques
		pointues (datascience, développement, design,
		géomatique, etc.) nécessaires à sa réalisation. Une
		fois recrutées, ces talents deviennent Entrepreneurs
		d’intérêt général et intègrent leur administration…
		ainsi qu’une promotion.</p>

	    <p>En effet, Entrepreneur·e d’Intérêt Général a fait le
		pari gagnant de la communauté. Chaque défi est relevé
		par 2 voire 3 EIG aux compétences complémentaires et
		la promotion est composée d’EIG aux spécialités
		diverses multipliant ainsi les occasions
		d’apprentissage de pair à pair et augmentant la
		qualité des solutions développées.  Les EIG peuvent
		également compter sur le soutien d’une communauté plus
		large d’anciens EIG, de mentors investis, de
		développeurs, datascientists et agents d’Etalab et de
		la communauté numérique d’intérêt général. La
		communauté : à la fois moyen et fin en soi.</p>

	    <h2>Nos valeurs</h2>

	    <p>Le programme porte plusieurs valeurs qu'Etalab cherche à diffuser dans les administrations :</p>
	    
	    <ul>
		<li>La force de la communauté</li>
		<li>L’innovation ouverte</li>
		<li>La valorisation des données d’intérêt public</li>
		<li>L’engagement citoyen au sein de l’administration</li>
	    </ul>
	</div>
    </div>
    <div class='three spacing'></div>
</div>

<div class='full parallax' style='background-image: url(../images/@stock/customers-bg.jpg); color: #fff;'>
    <div class='row'>
	<div class='large-12 columns'>
	    <div class='mod modClients' data-slides_to_show='4'>
		<div class='clients'>
		    {% for client in page.clients %}
		    <div><img alt="" src="{{client}}" /></div>
		    {% endfor %}
		</div>
	    </div>
	</div>
    </div>
    <div class='two spacing'></div>
</div>

<div class='full'>
    <div class='row'>
	<div class='large-12 columns'>
	    <p class='centered-text'>
		<i class='fa fa-quote-left' style='color: #d1335b; font-size: 36px;'></i>
	    </p>
	</div>
    </div>
    <div class='row'>
	<div class='large-12 columns'>
	    <div class='mod modTestimonials'>
		<div class='row'>
		    <div class='small-12 columns'>
			<div class='items centered-text'>
			    {% for t in page.testimonials  %}
			    <div class='item'>
				<p class='quote'>{{t.text}}</p>
				<p class='author'>- {{t.author}}, {{t.position}}</p>
				<div class='two spacing'></div>
			    </div>
			    {% endfor %}
			</div>
		    </div>
		    <div class='spacing'></div>
		</div>
	    </div>
	</div>
    </div>
    <div class='four spacing'></div>
</div>

<div class='full parallax' style='background: #f5f5f5'>
    <div class='row'>
	{% for milestone in page.milestones %}
	<div class='medium-3 large-3 columns right-border left-border'>
            <div class='mod modMilestone no-icon'>
		<strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
		<span>{{milestone.title}}</span>
		<div class='spacing'></div>
            </div>
	</div>
	{% endfor %}
    </div>
    <div class='four spacing'></div>
</div>

<div class='full no-padding' style='background: #444; color: #fff'>
    <div class='two spacing'></div>
    <div class='mod modCallToAction'>
	<div class='row'>
	    <div class='medium-9 large-9 columns'>
		<p>Like what you see here? Checkout this theme and start to build your site immediately.</p>
	    </div>
	    <div class='medium-3 large-3 columns'>
		<a class='boxed button' href='http://themeforest.net/user/honryou/portfolio?ref=honryou'>Learn more</a>
	    </div>
	</div>
    </div>
    <div class='spacing'></div>
</div>

<div class='full' style='background: #f5f5f5'>
    <div class='row'>
	<div class='medium-6 columns'>
	    <h3>Our skills</h3>
	    <div class='spacing'></div>
	    <div class='mod modBarGraph'>
		<ul class='bars'>
		    {% for skill in page.skills %}
		    <li>
			<h4 style=''>
			    {{skill.title}}
			    <strong>{{skill.percent}}%</strong>
			</h4>
			<p class='highlighted' data-percent='{{skill.percent}}'></p>
		    </li>
		    {% endfor %}
		</ul>
	    </div>
	</div>
	<div class='medium-6 columns'>
	    <h3>The testimonials</h3>
	    <div class='mod modTestimonials simple'>
		<div class='row'>
		    <div class='small-12 columns'>
			<div class='items'>
			    {% for t in page.testimonials %}
			    <div class='item'>
				<p class='quote'>{{t.text}}</p>
				<div class='author'>
				    <p class='author-avatar'>
					<img alt="" src="{{t.avatar}}" />
				    </p>
				    <p class='author-name'>
					-
					<strong>
					    {{t.author}}
					</strong>
					, {{t.position}}
				    </p>
				</div>
			    </div>
			    {% endfor %}
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
    <div class='two spacing'></div>
</div>
<div class='full'>
    <div class='row'>
	<div class='large-12 columns'>
	    <h3>Our team</h3>
	    <div class='spacing'></div>
	</div>
    </div>
    <div class='row'>
	{% for member in page.members %}
	<div class='small-6 medium-3 large-3 columns'>
            <div class='mod modTeamMember style-2'>
		<div class='member'>
		    <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
		    <div class='overlay'>
			<ul class='socials'>
			    {% for social in member.socials %}
			    <li>
				<a href='{{social.url}}'>
				    <i class='{{social.icon_class}}'></i>
				</a>
			    </li>
			    {% endfor %}
			</ul>
		    </div>
		</div>
		<h3>{{member.name}}</h3>
		<p class='position'>{{member.position}}</p>
		<p>{{member.desc}}</p>
		<div class='two spacing'></div>
            </div>
	</div>
	{% endfor %}
    </div>
    <div class='three spacing'></div>
</div>
