{% for webinaire in site.data.webinaires_eig4 %}
  {% if webinaire.defis contains include.defi_slug %}
  <h2>Webinaire</h2>
  <p>
    Ce défi sera présenté lors du webinaire « {{ webinaire.theme}} » du {{ webinaire.date }}. Ce sera l'occasion de poser vos questions aux agents publics qui portent le défi et d'en découvrir plus sur le programme EIG.
  </p>
  <p>
    Vous pouvez <a href="{{ webinaire.inscription_url }}" title="Inscription au webinaire">vous inscrire au webinaire en ligne</a>{% if webinaire.rediffusion_url %}. Si le webinaire est passé, vous pouvez en regarder la <a href="{{ webinaire.rediffusion_url }}" title="Rediffusion du webinaire">rediffusion en ligne</a>{% endif%}.
  </p>
  <p>
    Rendez-vous sur la <a href="/candidature-eig.html" title="Présentation de l'appel à candidatures">page de présentation de l'appel à candidatures</a> pour retrouver la liste complète des webinaires.
  </p>
  {% endif %}
{% endfor %}
