{% for webinaire in site.data.webinaires_eig4 %}
  {% if webinaire.defis contains include.defi_slug %}
  <h2>Webinaire</h2>
  <p>
    Ce défi a été présenté lors du webinaire « {{ webinaire.theme}} » du {{ webinaire.date }}. Les agents publics qui portent le défi en ont profité pour répondre à de nombreuses questions que se posaient les candidats. N'hésitez pas à en regarder la <a href="{{ webinaire.rediffusion_url }}" title="Rediffusion du webinaire">rediffusion en ligne</a>.
  </p>
  <p>
    Rendez-vous sur la <a href="/candidature-eig.html" title="Présentation de l'appel à candidatures">page de présentation de l'appel à candidatures</a> pour retrouver la liste complète des webinaires.
  </p>
  {% endif %}
{% endfor %}
