<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a href='index.html'>
          <img alt="" src="{{site.url}}/images/logo-grey.png" />
        </a>
      </h1>
      <p>© 2017-2018 {{site.title}}</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Écosystème</h4>
        <ul>
          <li><a href="index.html">Accueil</a></li>
          <li><a href="programme.html">Le programme EIG</a></li>
          <li><a href="defis.html">Les défis</a></li>
          <li><a href="communaute.html">Communauté</a></li>
          <li><a href="presse.html">Espace presse</a></li>
          <li><a href="contact.html">Nous contacter</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>À lire sur le blog</h4>
        <ul>
          {% for post in site.posts %}
            <li><a href="{{post.url}}">{{post.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Coordonnées</h4> <!-- FIXME: corriger les informations -->
      <ul>
        <li>Téléphone: +33 1 00 00 00 00</li>
        <li>entrepreneur-interet-general@data.gouv.fr</li>
        <li>20 avenue de Ségur, 75007, Paris</li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a href='http://twitter.com/etalab'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
