<div id='footer'>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a href='/index.html'>
          <img alt="Logo du programme {{site.title}}" src="{{site.url}}/img/logo-eig-blanc.png" />
        </a>
      </h1>
      <ul>
	  <li><a href="/feed.xml">Flux RSS du blog</a></li>
	  <li><a target="new" href="{{ site.list_url }}">Inscription liste de diffusion</a></li>
	  <li><a href="/cgu.html">Conditions générales d'utilisation</a></li>
      </ul>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <ul>
        <li><a href="https://www.etalab.gouv.fr">etalab.gouv.fr</a></li>
        <li><a href="https://data.gouv.fr">data.gouv.fr</a></li>
        <li><a href="https://beta.gouv.fr">beta.gouv.fr</a></li>
	<li><a href="https://www.numerique.gouv.fr/">numerique.gouv.fr</a></li>
	<li><a href="https://www.gouvernement.fr">gouvernement.fr</a></li>
	<li><a href="https://www.legifrance.gouv.fr">legifrance.gouv.fr</a></li>
      	<li><a href="https://www.service-public.fr">service-public.fr</a></li>
      </ul>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
	<div class='spacing'></div>
	<ul class='socials'>
	    <li>
		    <a href="/contact.html">Nous contacter</a>
	    </li>
      <li>
        <a href="/accessibilite.html">Accessibilité : partiellement conforme</a>
      </li>
      </br>
      <li>
        <a href="/plan-site.html">Plan du site</a>
      </li>
      </br>
      <li>
        <a href="/presse.html">Espace presse</a>
      </li>
	    <div class='spacing'></div>
            <li>
		<a target="new" title="Compte Twitter @eigforever" href='https://twitter.com/eigforever'>
		    <i class='fa fa-twitter'></i>
		</a>
            </li>
            <li>
		<a target="new" title="Compte Github EIG" href='https://github.com/entrepreneur-interet-general'>
		    <i class='fa fa-github'></i>
		</a>
            </li>
	</ul>
		<div class='spacing'></div>
        </div>
    <div class='large-3 medium-3 columns'>
	<div class='two spacing'></div>
	<p>Financé avec le concours du Programme d'investissements d'avenir</p>
	<a target="new" href="https://www.gouvernement.fr/secretariat-general-pour-l-investissement-sgpi">
            <img width="150px" src="/img/logo_investirlavenir.png" />
	</a>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/javascripts/custom.js" | prepend: site.url }}" type="text/javascript"></script>

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["entrepreneur-interet-general.etalab.gouv.fr"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
      var u="//stats.data.gouv.fr/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '37']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.data.gouv.fr/piwik.php?idsite=37" style="border:0;" alt="" />
