<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-4 medium-4 columns'>
      <h1>
        <a href='/index.html'>
          <img alt="" src="{{site.url}}/images/logo-grey.png" />
        </a>
      </h1>
      <ul>
	  <li><a href="/feed.xml">Vous abonner au flux RSS du blog EIG</a></li>
	  <li><a href="/cgu.html">Conditions générales d'utilisation</a></li>
      </ul>
      <p>© 2017-2018 {{site.title}}</p>
      <div class='spacing'></div>
    </div>
    <div class='large-4 medium-4 columns centered-text'>
      <div class='spacing'></div>
      <h3>Écosystème</h3>
      <ul>
        <li><a href="https://www.etalab.gouv.fr">Etalab</a></li>
        <li><a href="https://data.gouv.fr">data.gouv.fr</a></li>
        <li><a href="https://beta.gouv.fr">beta.gouv</a></li>
	<li><a href="https://twitter.com/_DINSIC">DINSIC</a></li>
      </ul>
      <div class='spacing'></div>
    </div>
    <div class='large-4 medium-4 columns'>
	<div class='spacing'></div>
	<h3>Nous écrire</h3>
	<ul class='socials'>
	    <li>
		<a href="mailto:entrepreneur-interet-general@data.gouv.fr">entrepreneur-interet-general@data.gouv.fr</a>
	    </li>
	    <div class='spacing'></div>
            <li>
		<a target="new" title="Nous contacter via le formulaire" href='/contact.html'>
		    <i class='fa fa-envelope'></i>
		</a>
            </li>
            <li>
		<a target="new" title="Compte Twitter @etalab" href='https://twitter.com/etalab'>
		    <i class='fa fa-twitter'></i>
		</a>
            </li>
            <li>
		<a target="new" title="Compte Github EIG" href='https://github.com/entrepreneur-interet-general'>
		    <i class='fa fa-github'></i>
		</a>
            </li>
	</ul>
	<div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.url }}" type="text/javascript"></script>

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.entrepreneur-interet-general.etalab.gouv.fr","*.entrepreneur-interet-general.etalab.gouv.fr"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
      var u="//stats.data.gouv.fr/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '37']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.data.gouv.fr/piwik.php?idsite=37" style="border:0;" alt="" />
