<a href="" id="top"></a>
<div class='contain-to-grid sticky'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href="{{site.url}}{% if page.locale == 'en' %}/en{% endif %}/index.html">
            <img alt="Logo du programme {{site.title}}" style="width:262px;" src="{{site.url}}/img/logo-marianne-eig-site.png" />
          </a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
    </ul>
    <section class='top-bar-section'>
      <ul class="right">
        {% assign nav = site.data.nav %}
        {% if page.locale == 'en' %}
          {% assign nav = site.data.nav-en %}
        {% endif %}
        {% for item in nav %}
          {% if item.section_id == page.section_id %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}
          {% if item.children %}
            <li class="has-dropdown {{active_class}}">
	      <a style="cursor:default;">{{ item.name }}</a>
              <ul class='dropdown'>
                {% for child in item.children %}
                  <li>
                    <a href="{{site.url}}/{{ child.path }}">{{ child.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="{{active_class}}">
              <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="has-dropdown lastmenu">
          <a style="cursor:default;">{{ page.locale }}</a>
          <ul class="dropdown">
          {% if page.lang-ref %}
            {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'locale' | reverse %}
            {% if posts.size == 0 %}
              {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'locale' | reverse %}
            {% endif %}
            {% for post in posts %}
              {% if post.locale != page.locale %}
                {% unless post.url contains 'page' %}
                <li><a href="{{ post.url }}">{{ post.locale }}</a></li>
                {% endunless %}
              {% endif %}
            {% endfor %}
          {% else %}
            {% if page.section_id != 'unavailable' %}
              <li><a href="/en/unavailable">EN</a></li>
            {% else %}
              <li><a href="{{ site.url }}">FR</a></li>
            {% endif %}
          {% endif %}
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>
