{% if paginator %}
  <div class="pager">
    {% if paginator.next_page %}
      {% if paginator.next_page == 1 %}
        <a href="/{{include.root}}" class="older">
          <i class='fa fa-angle-double-left'></i>
          Entrées plus anciennes
        </a>
      {% else %}
        <a href="/{{include.root}}/page{{ paginator.next_page }}" class="older">
          <i class='fa fa-angle-double-left'></i>
          Entrées plus anciennes
        </a>
      {% endif %}
    {% else %}
      <span class="older">
        <i class='fa fa-angle-double-left'></i>
	Entrées plus anciennes
      </span>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/{{include.root}}" class="newer">
          Entrées plus récentes
          <i class='fa fa-angle-double-right'></i>
        </a>
      {% else %}
        <a href="/{{include.root}}/page{{ paginator.previous_page }}" class="newer">
          Entrées plus récentes
          <i class='fa fa-angle-double-right'></i>
        </a>
      {% endif %}
    {% else %}
      <span class="newer">
        Entrées plus récentes
        <i class='fa fa-angle-double-right'></i>
      </span>
    {% endif %}
  </div>
{% endif %}
