---
layout: default
---

{% assign defi_data = site.data.defis[page.title] %}

<div class='full defi'>
  <div class='row'>
    <div class="medium-2 columns">
        <img
          src="{{ defi_data.image }}"
          alt="Logo {{ defi_data.title }}"
          class="logo"
        >
    </div>
    <div class='medium-10 columns'>
      <h1>{{ defi_data.title }}</h1>
      <h3>{{ defi_data.description}}</h3>
    </div>
  </div>
  <div class="spacing"></div>
  <div class="row">
    <div class="medium-12 columns">
      <div class="administration">
        <i class="fa fa-building" title="Administration de rattachement"></i>
        <span class="sr-only">Administration de rattachement :</span>
        <a href='{{defi_data.administration-website}}' target='new'>{{defi_data.administration}}</a>
      </div>
      <h4>
        <i class="fa fa-calendar" title="Année et durée"></i>
        <span class="sr-only">Année et durée :</span>
        {{ defi_data.year }} — {{ defi_data.duration_months }} mois
      </h4>
    </div>
  </div>

  <div class="two spacing"></div>

  <div class="row">
    {% assign total = defi_data.eigs.size | plus: defi_data.mentors.size %}

    {% if total <= 4 %}
    {% capture col_class %}
    large-{{ 12 | divided_by: total }}
    {% endcapture %}
    {% else %}
    {% assign col_class = 'large-3' %}
    {% endif %}

    {% for eig in defi_data.eigs %}
      {% include personne_small.html extra_class=col_class name=eig %}
    {% endfor %}
    {% for mentor in defi_data.mentors %}
      {% include personne_small.html extra_class=col_class name=mentor %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <div class="two spacing"></div>
      {% if defi_data.website %}
      <a class="button small" href="{{ defi_data.website }}"><i class="fa fa-external-link"></i> Démonstration</a>
      {% endif %}
      {% if defi_data.source_code %}
      <a class="button small" href="{{ defi_data.source_code }}" title="Code source de {{ defi_data.title }}"><i class="fa fa-code"></i> Code source</a>
      {% endif %}
      <div class="two spacing"></div>
      {{ content }}
    </div>
  </div>

  <div class='four spacing'></div>
</div>
