---
layout: default
---

<div class='full'>
  <div class='row'>
    <div class='large-8 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for image in page.images %}
          <div class="slide">
            <img src="{{site.url}}/{{image}}" alt="">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class='large-4 columns'>
      <h3>{{page.titre}}</h3>
      <ul class='info'>
        <li>
          <strong>Année :</strong>
          {{page.annees}}
        </li>
        <li>
          <strong>Administration :</strong>
          {{page.administration}}
        </li>
        <li>
          <strong>Mission :</strong>
          {{page.mission}}
        </li>
	{% if page.type %}
        <li>
          <strong>Type :</strong> <!-- FIXME: type est mauvais -->
          {{page.type}} 
        </li>
	{% endif %}
        <li>
          <strong>EIGs :</strong>
	  {% for eig in page.eigs %}
	  {{eig}}
	  {% unless forloop.last %}
          /
          {% endunless %}
	  {% endfor %}
        </li>
      </ul>
      <p>
        {{content}}
      </p>
      <div class='spacing'></div>
      {% if page.site %}
      <a class='button small' href='{{page.site}}'>En savoir plus</a>
      {% endif %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>
