---
layout: default
---

<div class='full'>
  <div class='row'>
    <div class='large-7 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for image in page.images %}
          <div class="slide">
            <img src="{{site.url}}/{{image}}" alt="">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class='large-5 columns'>
      <h3>{{page.titre}}</h3>
      <ul class='info'>
        <li>
          <strong>Année :</strong>
          {{page.annees}}
        </li>
        <li>
          <strong>Administration :</strong>
          <a href='{{page.administration-website}}' target='new'>{{page.administration}}</a>
        </li>
        <li>
          <strong>Mission :</strong>
          {{page.mission}}
        </li>
	{% if page.type %}
        <li>
          <strong>Type :</strong> <!-- FIXME: type est mauvais -->
          {{page.type}} 
        </li>
	{% endif %}
        <li>
            <strong>EIGs :</strong>
	    {% for eig in page.eigs %}
	    {% if eig.site %}
	    <a href='{{eig.site}}'>{{eig.nom}}</a>
	    {% else %}
	    {{eig.nom}}
	    {% endif %}
	    {% unless forloop.last %}
            /
            {% endunless %}
	    {% endfor %}
        </li>
        <li>
            <strong>Mentors :</strong>
	    {% for mentor in page.mentors %}
	    {% if mentor.site %}
	    <a href='{{mentor.site}}'>{{mentor.nom}}</a>
	    {% else %}
	    {{mentor.nom}}
	    {% endif %}
	    {% unless forloop.last %}
            /
            {% endunless %}
	    {% endfor %}
        </li>
      </ul>
      <div class='spacing'></div>
      {% if page.site %}
      <a class='button red small' href='/candidature-eig.html'>Je candidate !</a>
      <a class='button small' href='/candidature-eig.html'>Voir les autres défis</a>
      {% endif %}
    </div>
    <div class='large-12 columns'>
	<p>
            {{content}}
	</p>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
