---
layout: default
---

<div class='full'>
  <div class='row'>
    <div class='large-8 columns'>
      <h2>{{page.nom}}
	{% if page.twitter %}
	<a href="https://twitter.com/{{page.twitter}}"> 
	  <i class='big-social fa fa-twitter'></i>
	</a>
	{% endif %}
	{% if page.github %}
	<a href="https://github.com/{{page.github}}">
	  <i class='big-social fa fa-github'></i>
	</a>
	{% endif %}
      </h2>
      <ul class='info'>
        <li>
          <strong>Année :</strong>
          {{page.annees}}
        </li>
        <li>
          <strong>Défi :</strong>
	  {% for defi in page.defis %}
          <a href='{{defi.site}}'>{{defi.nom}}</a>
	  {% endfor %}
        </li>
	{% if page.profil %}
        <li>
          <strong>Profil :</strong>
          {{page.profil}}
        </li>
	{% endif %}
      </ul>
      <p>
        {{content}}
      </p>
      <div class='spacing'></div>
      {% if page.website %}
      <a class='button small' href='{{page.website}}'>Site personnel</a>
      {% endif %}
      <div class='spacing'></div>
    </div>
    <div class='large-4 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
	  {% for image in page.images %}
	  <div class="slide">
	    <img src="{{site.url}}/{{image}}" alt="">
	  </div>
	  {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
