---
layout: default
---
{% assign personne = site.data.personnes[page.nom] %}
<div class='full'>
  <div class='row'>
    <div class='large-8 columns'>
      <h2 class="mt-0">
        {{ page.nom }}

        {% if personne.twitter %}
          <a href="https://twitter.com/{{ personne.twitter }}">
            <i class='big-social fa fa-twitter'></i>
          </a>
        {% endif %}

        {% if personne.github %}
        <a href="https://github.com/{{ personne.github }}">
          <i class='big-social fa fa-github'></i>
        </a>
        {% endif %}

        {% if personne.gitlab %}
        <a href="https://gitlab.com/{{ personne.gitlab }}">
          <i class='big-social fa fa-code'></i>
        </a>
        {% endif %}

        {% if personne.linkedin %}
        <a href="{{ personne.linkedin }}">
          <i class='big-social fa fa-linkedin'></i>
        </a>
        {% endif %}
      </h2>
      <ul class='info'>
        <li>
          <strong>Année :</strong>
          {{ personne.annees | join: ', ' }}
        </li>
        <li>
          {% if personne.defis.size > 1 %}
            <strong>Défis :</strong>
          {% else %}
            <strong>Défi :</strong>
          {% endif %}
            {% for defi in personne.defis %}
              <a href='{{ site.data.defis[defi].link_to }}'>{{ site.data.defis[defi].title }}</a>
            {% endfor %}
        </li>
        {% if personne.profil %}
          <li>
            <strong>Profil :</strong>
            {{ personne.profil}}
          </li>
        {% endif %}
      </ul>

      {% if content.size > 1 %}
        <p>
          {{ content }}
        </p>
      {% else %}
        <div class="color-blue mt-2">
          La description de ce profil est en cours de rédaction et sera disponible prochainement.
        </div>
      {% endif %}

      <div class='spacing'></div>
      {% if personne.website %}
        <a class='button small' href='{{ personne.website }}'>Site personnel</a>
      {% endif %}
      <div class='spacing'></div>
    </div>

    <div class='large-4 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          <div class="slide">
            <img src="{{ site.url }}/{{ personne.image_url }}" alt="Photo {{ personne.title }}" width="250">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
