---
layout: default
---

<div class='full'>
  <div class='row'>
    <div class='large-8 columns'>
      <h2>{{page.nom}}
	  <a href="https://twitter.com/{{page.twitter}}">
	      <i class='big-social fa fa-twitter'></i>
	  </a>
	  <a href="https://github.com/{{page.github}}">
	      <i class='big-social fa fa-github'></i>
	  </a>
      </h2>
      <ul class='info'>
        <li>
          <strong>Année :</strong>
          {{page.annees}}
        </li>
        <li>
            <strong>Défi :</strong>
            {{page.defi}}
        </li>
        <li>
            <strong>Profil :</strong>
            {{page.profil}}
        </li>
      </ul>
      <p>
          {{content}}
      </p>
      <div class='spacing'></div>
      {% unless page.website == "none" %}
      <a class='button small' href='{{page.website}}'>Site personnel</a>
      {% endunless %}
      <div class='spacing'></div>
    </div>
    <div class='large-4 columns'>
	<div class='mod modBoxedSlider'>
            <div class='slides'>
		{% for image in page.images %}
		<div class="slide">
		    <img src="{{site.url}}/{{image}}" alt="">
		</div>
		{% endfor %}
            </div>
	</div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
