---
layout: blog
---

<div class='mod modBlogPost big no_bg'>

  <div class='content'>
    <h1>{{ page.title }}</h1>
    <p class='info'>
      <span>
        {% if page.locale == 'fr' %}
        	{% assign m = page.date | date: "%-m" %}
        	{{ page.date | date: "%-d" }}
        	{% case m %}
        	{% when '1' %}janvier
        	{% when '2' %}février
        	{% when '3' %}mars
        	{% when '4' %}avril
        	{% when '5' %}mai
        	{% when '6' %}juin
        	{% when '7' %}juillet
        	{% when '8' %}août
        	{% when '9' %}septembre
        	{% when '10' %}octobre
        	{% when '11' %}novembre
        	{% when '12' %}décembre
        	{% endcase %}
        	{{ page.date | date: "%Y" }}
        {% else %}
          {{ page.date | date: "%d %B %Y" }}
        {% endif %}
      </span>
      /
      <span>
        {% if page.locale == 'fr' %}
          de
        {% else %}
          by
        {% endif %}
	{% if page.twitter %}
        <a href="https://twitter.com/{{page.twitter}}">{{page.author}} <i class='fa fa-twitter'></i></a>
	{% else %}
	{{page.author}}
	{% endif %}
      </span>
    </p>
    {% include share-bar.html %}

    {{ content }}

    {% include share-bar.html %}

    {% if page.tags %}
    <div class="post-tags">
      <ul>
        {% for tag in page.tags %}
        <li><a href="/tag/{{ tag | slugify: 'latin' }}" class="button outline">#{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% assign articles = site.posts | where:"locale", page.locale %}
    {% for article in articles %}
      {% if article.title == page.title %}
        {% assign currIndex = forloop.index0 %}
        {% assign prevIndex = currIndex | minus: 1 %}
        {% assign nextIndex = currIndex | plus: 1 %}
        {% assign articleIndexLength = forloop.length | minus: 1 %}
        <div class="post-nav">
          {% if currIndex == 0 %}
            <a class="next" href="{{ site.url }}{{ site.baseurl }}{{ articles[nextIndex].url }}">{{ articles[nextIndex].title }} &raquo;</a>
          {% elsif currIndex < articleIndexLength and currIndex != 0 %}
            <a class="prev" href="{{ site.url }}{{ site.baseurl }}{{ articles[prevIndex].url }}">&laquo; {{ articles[prevIndex].title }}</a>
            <a class="next" href="{{ site.url }}{{ site.baseurl }}{{ articles[nextIndex].url }}">{{ articles[nextIndex].title }} &raquo;</a>
          {% elsif currIndex == articleIndexLength %}
            <a class="prev" href="{{ site.url }}{{ site.baseurl }}{{ articles[prevIndex].url }}">&laquo; {{ articles[prevIndex].title }}</a>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
