---
layout: blog
---

<div class='mod modBlogPost big no_bg'>

  <div class='content'>
    <h1>{{ page.title }}</h1>
    <p class='info'>
      <span>
	{% assign m = page.date | date: "%-m" %}
	{{ page.date | date: "%-d" }}
	{% case m %}
	{% when '1' %}janvier
	{% when '2' %}février
	{% when '3' %}mars
	{% when '4' %}avril
	{% when '5' %}mai
	{% when '6' %}juin
	{% when '7' %}juillet
	{% when '8' %}août
	{% when '9' %}septembre
	{% when '10' %}octobre
	{% when '11' %}novembre
	{% when '12' %}décembre
	{% endcase %}
	{{ page.date | date: "%Y" }}
      </span>
      /
      <span>
        de
	{% if page.twitter %}
        <a href="https://twitter.com/{{page.twitter}}">{{page.author}} <i class='fa fa-twitter'></i></a>
	{% else %}
	{{page.author}}
	{% endif %}
      </span>
    </p>
    {% include share-bar.html %}

    {{ content }}

    {% include share-bar.html %}

    {% if page.tags %}
    <div class="post-tags">
      <ul>
        {% for tag in page.tags %}
        <li class="button outline">#{{ tag }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="post-nav">
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">
          &laquo; {{page.previous.title}}
        </a>
      {% endif %}
      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">
          {{page.next.title}} &raquo;
        </a>
      {% endif %}
    </div>
  </div>
</div>

